.specialty-sort {
	padding: 0px 25px 30px 15px;
	display: flex;
	background-color: #fff;
	border-radius: 7px;
	box-sizing: border-box;
	box-shadow: 0px 1px 9px 6px rgba(198, 194, 194, 61);


	.specialty-sort-title {
		margin-top: 30px;
		font-weight: 700;
		white-space: nowrap;
		font-size: 18px;
		color: #3B3B3B;
		height: 100%;
	}


}

.specialty-sort-content {
	ul {
		margin-top: 20px;

		li {
			float: left;
			margin-left: 5px;
			margin-top: 10px;

			a {
				white-space: nowrap;
				font-size: 16px;
				color: #576361;
				padding: 3px 8px;

				&:hover {
					background-color: #02a297;
					color: #fff;
					border-radius: 15px;
				}
			}
		}
	}
}

.all-specialty {
	margin-top: 40px;
}

.all-specialty-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 5px;
	border-bottom: 2px solid #e1dfdf;

	h1 {
		position: relative;
		height: 35px;
		line-height: 35px;
		font-size: 24px;
		color: #02a297;
		font-weight: 700;

		&::before {
			content: '';
			position: absolute;
			bottom: -7px;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: #02a297;
		}
	}



}

.all-specialty-title-right {
	span {
		a {
			display: inline-block;
			margin-left: 25px;
			font-size: 16px;
			color: #757373;

			&:hover {
				color: #02A297;
			}
		}
	}
}

.all-specialty-content {

	ul {

		padding-bottom: 18px;
		display: flex;
		flex-wrap: wrap;

		li {

			margin-right: 18px;

			&:nth-child(5n) {
				margin-right: 0;
			}

			a {
				box-sizing: border-box;
				padding: 20px;
				background-color: #fff;
				box-shadow: 0px 0px 10px rgba(0, 0, 0, .15);
				display: inline-block;
				border-radius: 15px;
				margin-top: 25px;
				width: 225px;
				height: 175px;
				overflow: hidden;


				.all-specialty-pic {
					width: 100%;
					height: 110px;
					border-radius: 7px;
					overflow: hidden;
				}

				img {
					width: 100%;
					height: 100%;
					transition: all .5s ease-out;
				}

				&:hover img {
					transform: scale(1.1)
				}


				.all-specialty-content-title {
					width: 100%;
					white-space: nowrap;
					overflow: hidden;
					box-sizing: border-box;
					padding: 0 10px;
					text-align: center;
					text-overflow: ellipsis;
					margin-top: 10px;
					font-size: 16px;
					color: #101010;
				}

				&:hover .all-specialty-content-title {
					color: #02A297;
				}
			}
		}
	}
}

@media only screen and (min-width: 320px) and(max-width: 479px) {
	.specialty-sort {

		padding: 0px;
		display: block;

		background-color: transparent;
		border-radius: 0px;
		box-sizing: border-box;
		box-shadow: 0px 0px 0px 0px rgba(198, 194, 194, 61);
		// display: none;
		position: fixed;
		top: 45px;
		left: 0;
		width: 100%;
		z-index: 2;

		.specialty-sort-title {
			margin-top: 0px;
			font-weight: 700;
			white-space: nowrap;

			font-size: 14px;
			color: #DEF0EF;
			height: 45px;
			line-height: 45px;
			text-align: center;
			padding-right: 7%;
			width: 100%;
			background-color: #02a297;

			span {
				position: relative;

				&::before {
					position: absolute;
					top: 36%;
					left: 60px;
					content: '';
					width: 10px;
					height: 10px;
					background-color: #02a297;
				}

				&::after {
					position: absolute;
					top: 43%;
					left: 76px;
					content: '';
					border-width: 6px;
					border-style: solid;
					border-color: #fff transparent transparent transparent;
				}
			}

		}


	}

	.specialty-sort-content {
		display: none;

		ul {
			margin-top: 0px;
			width: 100%;
			height: 350px;
			padding: 10px 30px 10px 30px;

			background-color: #fff;
			overflow: auto;

			li {
				float: left;
				margin-left: 0px;
				margin-top: 0px;
				height: 35px;
				line-height: 35px;
				width: 100%;
				border-bottom: 1px dotted #E1DFDF;


				a {
					white-space: nowrap;
					font-size: 14px;
					color: #101010;
					padding: 0px;
					display: inline-block;
					width: 100%;
					height: 100%;

					&:hover {
						background-color: transparent;
						color: #101010;
						border-radius: 0px;
					}
				}
			}
		}
	}

	.all-specialty {
		width: 100%;
		padding: 0 20px;
		margin-top: 20px;
	}

	.all-specialty-title {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 5px;
		border-bottom: 2px solid #e1dfdf;

		h1 {
			position: relative;
			height: 35px;
			line-height: 35px;
			font-size: 18px;
			color: #02a297;
			font-weight: 700;
			z-index: 0;

			&::before {
				content: '';
				position: absolute;
				bottom: -7px;
				left: 0;
				width: 100%;
				height: 2px;
				background-color: #02a297;
			}
		}



	}

	.all-specialty-title-right {
		span {
			a {
				display: inline-block;
				margin-left: 10px;
				font-size: 14px;
				color: #757373;

				&:hover {
					color: #02A297;
				}
			}
		}
	}

	.all-specialty-content {

		ul {

			padding-bottom: 15px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;


			li {
				width: 47%;
				margin-right: 0px;



				&:nth-child(5n) {
					margin-right: 0;
				}

				&:last-child {
					margin-left: auto;
				}

				&:first-child {
					margin-right: auto;
				}



				a {
					box-sizing: border-box;
					padding: 20px;
					padding: 0;
					background-color: transparent;
					box-shadow: 0px 0px 0px rgba(0, 0, 0, .15);
					display: inline-block;
					border-radius: 15px;
					border-radius: 0;
					margin-top: 15px;
					width: 225px;
					width: 100%;
					height: auto;
					overflow: hidden;


					.all-specialty-pic {
						width: 100%;
						height: 100%;
						border-radius: 7px;
						overflow: hidden;
					}

					img {
						width: 100%;
						height: 100%;
						transition: all .5s ease-out;
					}

					&:hover img {
						transform: scale(1.1)
					}


					.all-specialty-content-title {
						width: 100%;
						white-space: nowrap;
						overflow: hidden;
						box-sizing: border-box;
						padding: 0 10px;
						text-align: center;
						text-overflow: ellipsis;
						margin-top: 10px;
						font-size: 16px;
						color: #101010;
					}

					&:hover .all-specialty-content-title {
						color: #02A297;
					}
				}
			}
		}
	}

}