.main-article {
	margin-top: 25px;
	display: flex;
	justify-content: space-between;

	.main-article-left {
		width: 825px;
	}

	.main-article-right {
		width: 350px;
	}
}

.main-article-left-top {
	padding: 30px 20px 20px 20px;
	background-color: #fff;

	h1 {
		font-size: 28px;
		font-weight: 700;
		color: #3b3b3b;
		margin-bottom: 20px;
	}
}

.main-article-head {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.main-article-head-author {
	span {
		display: inline-block;
		vertical-align: middle;
		font-size: 12px;
		color: #a6a2a2;

		&:first-child {
			margin-right: 3px;
			width: 28px;
			height: 28px;
			background-image: url(../../images/icon/part1.png);
			background-size: 100% 100%;
			border-radius: 50%;
		}
	}
}

.main-article-head-time {
	margin-left: -360px;

	span {
		font-size: 12px;
		color: #a6a2a2;
		display: inline-block;
		vertical-align: middle;

		&:first-child {
			width: 15px;
			height: 15px;
			background-image: url(../images/svg/time.svg);
			background-size: 100% 100%;
		}
	}
}

.main-article-head-share {
	width: 135px;
	height: 30px;
}
.social-share .social-share-icon {
	position: relative;
	display: inline-block;
	width: 28px;
	height: 28px;
	font-size: 20px;
	border-radius: 50%;
	line-height: 30px;
	text-align: center;
	vertical-align: middle;
	transition: background 0.6s ease-out 0s;
	margin: 0;
}
.social-share .icon-wechat .wechat-qrcode {
	opacity: 0;
	filter: alpha(opacity=0);
	visibility: hidden;
	position: absolute;
	z-index: 9;
	top: 40px;
	left: -84px;
	width: 200px;
	height: 192px;
	color: #666;
	font-size: 12px;
	text-align: center;
	background-color: #fff;
	box-shadow: 0 2px 10px #aaa;
	transition: all 200ms;
	-webkit-tansition: all 350ms;
	-moz-transition: all 350ms;
}
.social-share .icon-wechat .wechat-qrcode:after {
	content: "";
	position: absolute;
	left: 50%;
	margin-left: -6px;
	top: -14px;
	width: 0;
	height: 0;
	border-width: 8px 6px 6px 6px;
	border-style: solid;
	border-color: transparent transparent #f3f3f3 transparent;
}

.main-article-guided {
	margin-top: 30px;
	background-color: #f2f0f0;
	padding: 15px;
	box-sizing: border-box;

	span {
		position: relative;
		margin-left: 24px;
		font-size: 16px;
		background-color: #02a297;
		color: #fff;
		padding: 1px 4px;
		border-radius: 4px;
		font-weight: 700;

		&::before {
			position: absolute;
			top: 0;
			left: -22px;
			display: inline-block;
			content: "";
			width: 20px;
			height: 20px;
			background-image: url(../images/svg/guided.svg);
			background-size: 100% 100%;
		}
	}

	p {
		display: inline;
		font-size: 16px;
		color: #757373;
		line-height: 25px;
		text-align: justify;
		letter-spacing: 0.5px;
	}
}

.main-content {
	p {
		margin: 18px 0px;
		font-size: 16px;
		color: #3b3b3b;
		line-height: 30px;
		letter-spacing: 0.5px;
		text-align: justify;
	}
	h1 {
		font-size: 18px;
		font-weight: 700;
		color: #02a297;
	}
	.main-tit {
		position: relative;
		display: flex;
		align-items: center;
		span {
			display: inline-block;
			width: 20px;
			height: 20px;
			line-height: 20px;
			text-align: center;
			background-color: #02a297;
			color: #fff;
			font-size: 16px;
			margin-right: 8px;
		}
		strong {
			font-size: 18px;
			font-weight: 700;
			color: #02a297;
			background-color: #fff;
			position: relative;
			padding-right: 10px;
			z-index: 1;
		}
		&::after {
			position: absolute;
			right: 0;
			bottom: 10px;
			content: "";
			width: 88%;
			border: 1px dashed #e1dfdf;
		}
	}
}

.main-article-sg {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;

	.main-article-source {
		span {
			font-size: 14px;
			color: #3b3b3b;
			vertical-align: middle;

			&:nth-child(1) {
				display: inline-block;
				width: 24px;
				height: 24px;
				margin-right: 5px;
				background-image: url(../images/svg/source.svg);
				background-size: 100% 100%;
			}
		}
	}

	.main-article-great {
		a {
			display: inline-block;
			width: 80px;
			height: 20px;
			line-height: 20px;
			border: 1px solid #02a297;
			color: #02a297;
			border-radius: 50px;
			text-align: center;
			font-size: 14px;
		}
	}
}

.main-article-bottom {
	border-top: 1px dotted #e1dfdf;
	padding: 25px 0 45px 0;

	p {
		font-size: 14px;
		color: #757373;

		&:nth-child(1) {
			a {
				display: inline-block;
				padding: 3px 12px;
				border-radius: 50px;
				background-color: #f4f3f3;
				margin-right: 10px;
				margin-bottom: 10px;

				&:hover {
					color: #02a297;
				}
			}
		}

		&:nth-child(2) {
			padding: 15px;
			margin: 15px 0 30px 0;
			background-color: #f2f0f0;

			span {
				font-weight: 700;
				color: #e11616;
				&::before {
					content: "";
					display: inline-block;
					width: 10px;
					height: 14px;
					vertical-align: baseline;
					margin-right: 3px;
					background-image: url(../images/svg/disclaimer.svg);
					background-size: 100% 100%;
				}
			}
		}
	}

	div {
		font-size: 14px;
		color: #757373;
		display: flex;
		justify-content: space-between;

		a {
			&:hover {
				color: #02a297;
			}
		}
	}
}

.main-article-left-bottom {
	margin-top: 25px;
	padding: 22px 20px 20px 20px;
	box-sizing: border-box;
	background-color: #fff;

	h1 {
		position: relative;
		font-size: 20px;
		color: #3b3b3b;
		font-weight: 700;
		padding-bottom: 10px;
		width: 82px;

		&::after {
			position: absolute;
			bottom: -2px;
			left: 0;
			width: 100%;
			content: "";
			border-bottom: 2px solid #02a297;
		}
	}

	ul {
		border-top: 2px solid #e1dfdf;
		display: flex;
		flex-wrap: wrap;

		li {
			&:nth-child(even) {
				margin-left: 60px;
			}

			a {
				font-size: 16px;
				display: inline-block;
				display: flex;
				justify-content: space-between;
				width: 355px;
				height: 20px;
				line-height: 20px;
				color: #3b3b3b;
				margin-top: 18px;

				p {
					width: 288px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;

					&:hover {
						color: #02a297;
					}
				}
			}
		}
	}
}

/*1100分辨率（大于960px，小于1199px）*/
@media screen and (min-width: 960px) and (max-width: 1199px) {
}

/*880分辨率（大于768px，小于959px）*/
@media screen and (min-width: 768px) and (max-width: 959px) {
}

/*720分辨率（大于480px，小于767px）*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/*440分辨率以下（小于479px）*/
@media only screen and (min-width: 320px) and(max-width: 479px) {
	.nav-path {
		margin-top: 65px;
		margin-bottom: 20px;
	}

	.main-article {
		margin-top: 20px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.main-article-left {
			width: 100%;
		}

		.main-article-right {
			width: 100%;
		}
	}

	.main-article-left-top {
		padding: 20px;
		background-color: #fff;

		h1 {
			font-size: 20px;
			font-weight: 700;
			line-height: 30px;
			color: #3b3b3b;
			margin-bottom: 10px;
			width: 100%;
			overflow: hidden;
			display: -webkit-box;
			text-overflow: ellipsis;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
		}
	}

	.main-article-head {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.main-article-head-author {
		span {
			display: inline-block;
			vertical-align: middle;
			font-size: 12px;
			color: #a6a2a2;

			&:first-child {
				margin-right: 4px;
				width: 25px;
				height: 25px;
				background-image: url(../../images/icon/part1.png);
				background-size: 100% 100%;
			}
		}
	}

	.main-article-head-time {
		margin-left: 0px;

		span {
			font-size: 12px;
			color: #a6a2a2;
			display: inline-block;
			vertical-align: middle;

			&:first-child {
				margin-right: 0px;
				width: 15px;
				height: 15px;
				background-image: url(../images/svg/time.svg);
				background-size: 100% 100%;
			}
		}
	}

	.main-article-head-share {
		display: none;
		width: 135px;
		height: 30px;
	}

	.main-article-guided {
		margin-top: 15px;
		background-color: #f2f0f0;
		padding: 8px;
		box-sizing: border-box;
	}

	.main-content {
		p {
			line-height: 30px;
			margin: 15px 0px;
			font-size: 16px;
			color: #3b3b3b;
			text-align: justify;
		}
	}

	.main-article-sg {
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;

		.main-article-source {
			span {
				font-size: 14px;
				color: #3b3b3b;
				vertical-align: middle;

				&:nth-child(1) {
					display: inline-block;
					width: 24px;
					height: 24px;
					margin-right: 5px;
				}
			}
		}

		.main-article-great {
			a {
				display: inline-block;
				width: 70px;
				height: 20px;
				line-height: 17px;
				border: 1px solid #02a297;
				color: #02a297;
				border-radius: 50px;
				text-align: center;
				font-size: 14px;
			}
		}
	}

	.main-article-bottom {
		border-top: 1px dotted #e1dfdf;
		padding: 25px 0 10px 0;

		p {
			font-size: 14px;
			color: #757373;

			&:nth-child(1) {
				a {
					display: inline-block;
					padding: 3px 12px;
					border-radius: 50px;
					background-color: #f4f3f3;
					margin-right: 10px;
					margin-bottom: 10px;

					&:hover {
						color: #02a297;
					}
				}
			}

			&:nth-child(2) {
				padding: 15px;
				margin: 15px 0 30px 0;
				background-color: #f2f0f0;

				span {
					font-weight: 700;
					color: #e11616;
				}
			}
		}

		div {
			font-size: 14px;
			color: #757373;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 100%;

			.main-article-prev {
				margin-bottom: 10px;
			}

			a {
				width: 82%;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;

				&:hover {
					color: #02a297;
				}
			}
		}
	}

	.main-article-left-bottom {
		width: 100%;
		margin-top: 20px;
		padding: 20px;
		box-sizing: border-box;
		background-color: #fff;

		h1 {
			position: relative;
			font-size: 18px;
			color: #3b3b3b;
			font-weight: 700;
			padding-bottom: 10px;
			width: 74px;
			white-space: nowrap;

			&::after {
				position: absolute;
				bottom: -2px;
				left: 0;
				width: 100%;
				content: "";
				border-bottom: 2px solid #02a297;
			}
		}

		ul {
			border-top: 2px solid #e1dfdf;
			display: flex;
			flex-wrap: wrap;

			li {
				width: 100%;

				&:nth-child(even) {
					margin-left: 0px;
				}

				a {
					font-size: 14px;
					display: inline-block;
					display: flex;
					justify-content: space-between;
					width: 100%;
					height: 20px;
					line-height: 20px;
					color: #3b3b3b;
					margin-top: 18px;

					p {
						width: 80%;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;

						&:hover {
							color: #02a297;
						}
					}
				}
			}
		}
	}
}
